@using Platform.WebSite.Helpers;
@using Platform.WebSite.Models;
@using Platform.Infra;

@{
    var masterInfo = (SiteViewModel)ViewBag.MasterInfo;
    this.ViewBag.Title = masterInfo.CurrentPage.Name;
    string controllerName = "SupplierApproval";

    string supplierApprovalUrl = Url.Action("SupplierApproval", controllerName, new { ID = masterInfo.CurrentPage.ID, ApprovalID = "__ID__" });
    string revisionApprovalUrl = Url.Action("RevisionApproval", controllerName, new { ID = masterInfo.CurrentPage.ID, ApprovalID = "__ID__" });
    string paymentsupplierApprovalUrl = Url.Action("PaymentSupplierApproval", controllerName, new { ID = masterInfo.CurrentPage.ID, ApprovalID = "__ID__" });
    string paymentsupplierrevisionApprovalUrl = Url.Action("PaymentSupplierRevisionApproval", controllerName, new { ID = masterInfo.CurrentPage.ID, ApprovalID = "__ID__" });
    string stqaApprovalUrl = Url.Action("STQAApproval", controllerName, new { ID = masterInfo.CurrentPage.ID, ApprovalID = "__ID__" });
    string spaApprovalUrl = Url.Action("SPAApproval", controllerName, new { ID = masterInfo.CurrentPage.ID, ApprovalID = "__ID__" });
    string costServiceApprovalUrl = Url.Action("SPA_CostServiceApproval", controllerName, new { ID = masterInfo.CurrentPage.ID, ApprovalID = "__ID__" });
    string violationApprovalUrl = Url.Action("SPA_ViolationApproval", controllerName, new { ID = masterInfo.CurrentPage.ID, ApprovalID = "__ID__" });
    string scoringInfoApprovalUrl = Url.Action("SPA_ScoringInfoApproval", controllerName, new { ID = masterInfo.CurrentPage.ID, ApprovalID = "__ID__" });
}

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <div class="card-label">
                @*標題*@
                @ViewBag.Title
                @*標題*@
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="divSearchArea" style="display: none;">
            @*過濾條件*@
            <div class="form-group row">
                <div class="col-3">
                    <label for="inpName" class="col-form-label">供應商代碼或名稱</label>
                    <input id="inpName" name="Name" type="text" class="form-control" placeholder="" />
                </div>

                <div class="col-3">
                    <label for="inpTaxNo" class="col-form-label">統一編號</label>
                    <input id="inpTaxNo" name="TaxNo" type="text" class="form-control" placeholder="" />
                </div>

                <div class="col-3">
                    <button type="button" id="btnSearch" class="btn btn-success col-3"> 查詢 </button>
                </div>
            </div>
            @*過濾條件*@
        </div>
        <!--start: Datatable-->
        @*表格*@
        <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover table-checkable" id="dataGrid" style="margin-top: 13px !important">
                    </table>
                </div>
            </div>
            @*表格*@
        </div>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->
@* --將 js 註冊至頁尾-- *@
@Html.Resource(
    @<text>
        <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script src="~/ModuleResources/JavaScripts/Shared/FormHelper.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script src="~/ModuleResources/JavaScripts/SupplierApproval/index.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>

        <style>
            .dataTables_wrapper table.dataTable thead tr th {
                background-color: #00a9e0;
                color: white;
                font-weight: bold;
            }

            .columnHeaderWhite {
                color: white;
                font-weight: bold;
            }
        </style>

        <script>
            var supplierApprovalUrl = '@supplierApprovalUrl';
            var revisionApprovalUrl = '@revisionApprovalUrl';
            var paymentsupplierApprovalUrl = '@paymentsupplierApprovalUrl';
            var paymentsupplierrevisionApprovalUrl = '@paymentsupplierrevisionApprovalUrl';
            var stqaApprovalUrl = '@stqaApprovalUrl';
            var spaApprovalUrl = '@spaApprovalUrl';
            var costServiceApprovalUrl = '@costServiceApprovalUrl';
            var violationApprovalUrl = '@violationApprovalUrl';
            var scoringInfoApprovalUrl = '@scoringInfoApprovalUrl';
        </script>
    </text>
, "customScripts")

