<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- 記得改連線字串 -->
    <add name="DefaultConnection" connectionString="data source=.;initial catalog=TET_Supplier;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--LoggerType: Default, File-->
    <add key="LoggerType" value="File" />
    <add key="FileLogPath" value="D:\Logs\Platform" />
    <!-- 記得改 Log 存放路徑 -->
    <add key="FileUploadFolder" value="/FileDownload/" />
    <!-- SMTP -->
    <add key="WillSendMail" value="Y" />
    <!-- 是否真的要送信， Y or N -->
    <add key="EmailRootUrl" value="http://localhost:58868" />
    <!-- Email 中超連結的根 Url -->
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SenderName" value="TETAdmin" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpAccount" value="nkp0704@gmail.com" />
    <add key="SmtpPassword" value="luvw ehgj crle dkmb" />
    <add key="EmailExpireDays" value="180" />
  </appSettings>
</configuration>