
@{
    Layout = null;

    var text = this.ViewBag.Result;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>連線測試</title>
</head>
<body>
    <div> 
        測試結果： <span> @text </span>
    </div>
</body>
</html>
