<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net462" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net462" />
  <package id="Enums.NET" version="4.0.1" targetFramework="net462" />
  <package id="MathNet.Numerics.Signed" version="4.15.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc.zh-Hant" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor.zh-Hant" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client.zh-Hant" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core.zh-Hant" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost.zh-Hant" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages.zh-Hant" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.3.2" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="NPOI" version="2.6.2" targetFramework="net462" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net462" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net462" />
  <package id="SixLabors.ImageSharp" version="2.1.4" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Xml" version="6.0.1" targetFramework="net462" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net462" />
  <package id="Thinktecture.Abstractions" version="2.5.0" targetFramework="net462" />
  <package id="Thinktecture.IO.Abstractions" version="2.5.0" targetFramework="net462" />
  <package id="Thinktecture.Net.Http.Abstractions" version="2.5.0" targetFramework="net462" />
  <package id="Thinktecture.Net.Primitives.Abstractions" version="2.5.0" targetFramework="net462" />
  <package id="Thinktecture.Runtime.Abstractions" version="2.5.0" targetFramework="net462" />
  <package id="Thinktecture.Text.Encoding.Abstractions" version="2.5.0" targetFramework="net462" />
</packages>