@using Platform.WebSite.Models
@model UserProfileViewModel
@{
    ViewBag.Title = "Password";
    string ctlName = "UserManager";
    string postActionName = "Password";
    string listActionName = "Index";
}


<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <div class="card-label">
                @*標題*@
                <span class="display-4">@ViewBag.Title</span>
                @*標題*@
            </div>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm(postActionName, ctlName, FormMethod.Post, new { @class = "form" }))
        {
            @*表單*@
            <!--begin::Row-->
            <div class="row">
                <label class="col-3"></label>
                <div class="col-9">
                    <h6 class="text-dark font-weight-bold mb-10">重設密碼</h6>
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Group-->
            <div class="form-group row">
                <label class="col-form-label col-3 text-lg-right text-left">密碼</label>
                <div class="col-9">
                    <input name="NewPassword" class="form-control form-control-lg form-control-solid" type="password" placeholder="請輸入密碼">
                </div>
            </div>
            <!--end::Group-->
            <!--begin::Group-->
            <div class="form-group row">
                <label class="col-form-label col-3 text-lg-right text-left">確認密碼</label>
                <div class="col-9">
                    <input name="ConfirmPassword" class="form-control form-control-lg form-control-solid" type="password" placeholder="請確認密碼">
                    <div class="d-block text-muted pt-2 font-size-sm">
                        <i class="icon-nm text-dark-50 flaticon2-information"></i>
                        密碼至少需要8至16個字，其中至少包含<br />
                        1個大寫英文數字、1個小寫英文數字、<br />
                        1個數字及1個特殊符號<br />
                        如：Aa@1234567
                    </div>
                </div>
            </div>
    <!--end::Group-->
    <div class="d-flex justify-content-between border-top pt-10">
        <div class="mr-2">
            <a href="@Url.Action(listActionName, ctlName, new { Id = this.Model.ID })" class="btn btn-light font-weight-bolder text-uppercase px-9 py-4">
                返回
            </a>
        </div>
        <div>
            <button type="submit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-submit">送出</button>
        </div>
    </div>
    @*表單*@
    }
</div>
</div>
<!--end::Card-->
