@using Platform.AbstractionClass;
@using Platform.WebSite.Helpers;
@using Platform.WebSite.Models;
@using Platform.Infra;

@{
    var masterInfo = (SiteViewModel)ViewBag.MasterInfo;
    this.ViewBag.Title = masterInfo.CurrentPage.Name;
    string controllerName = "PaymentSupplier";
    string apiControllerName = "api/PaymentSupplierApi";
    string editTemplateUrl = Url.Action("QueryEdit", controllerName, new { ID = masterInfo.CurrentPage.ID, supplierID = "__ID__" });
    string viewTemplateUrl = Url.Action("QueryView", controllerName, new { ID = masterInfo.CurrentPage.ID, supplierID = "__ID__" });

    string exportExcelApiUrl = Url.Action("ExportPaymentSupplierExcel", apiControllerName);

    var canExport = ((bool)this.ViewBag.canExport) ? "true" : "false";
}

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <div class="card-label">
                @*標題*@
                @ViewBag.Title
                @*標題*@
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="divSearchArea">
            @*過濾條件*@
            <div class="form-group row">
                <div class="col-3">
                    <label for="inpName" class="col-form-label">供應商代碼或一般付款對象名稱</label>
                    <input id="inpName" name="Name" type="text" class="form-control form-control-sm" placeholder="" />
                </div>

                <div class="col-3">
                    <label for="inpTaxNo" class="col-form-label">統一編號</label>
                    <input id="inpTaxNo" name="TaxNo" type="text" class="form-control form-control-sm" placeholder="" />
                </div>
                <div class="col-4">
                    <button type="button" id="btnSearch" class="btn btn-sm btn-success" style="margin-top: 3em;"> 查詢 </button>
                    <a id="aExportExcel" href="~/api/PaymentSupplierApi/ExportPaymentSupplierExcel" target="_blank" class="btn btn-sm btn-success" style="margin-top: 3em;"> 匯出 Excel </a>
                </div>
            </div>
            @*過濾條件*@
        </div>
        <!--start: Datatable-->
        @*表格*@
        <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover table-checkable" id="dataGrid" style="margin-top: 13px !important">
                    </table>
                </div>
            </div>
            @*表格*@
        </div>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->
@* --將 js 註冊至頁尾-- *@
@Html.Resource(
    @<text>
        <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script src="~/ModuleResources/JavaScripts/Shared/FormHelper.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>
        <script src="~/ModuleResources/JavaScripts/PaymentSupplier/query.js?v=@DateTimeExtensions.GetJS_V_Text()"></script>

        <style>
            .dataTables_wrapper table.dataTable thead tr th {
                background-color: #00a9e0;
                color: white;
                font-weight: bold;
            }

            .columnHeaderWhite {
                color: white;
                font-weight: bold;
            }
        </style>

        <script>
            var editTemplateUrl = '@editTemplateUrl';
            var viewTemplateUrl = '@viewTemplateUrl';
            var exportExcelApiUrl = '@exportExcelApiUrl';
            var canExport = @canExport;
        </script>
    </text>
, "customScripts")

